{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">contacts</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Agregar Producto</h4>
            <form method="POST" class="form-horizontal">{% csrf_token %}
                <div class="row">
                    <label class="col-sm-2 label-on-left">Informacion del cliente</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group label-floating is-empty">
                                    {{form.producto}}
                                </div>
                            </div>
   
                        </div>
                    </div>
                 
                </div>
                
                
                <div class="row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-fill btn-rose">Agregar Producto</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}