{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">contacts</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Crear Factura</h4>
            
            
            <form class="form-horizontal">{% csrf_token %}
                <div class="row">
                    <label class="col-sm-2 label-on-left">Informacion del cliente</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group label-floating is-empty">
                                    {{form.cliente}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Codigo de factura</label>
                                    {{form.codigo}}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                
                                <div class="toolbar">
                                    <a button class="btn btn-primary btn-raised btn-round" onclick="demo.showNotification('top','left')" id="btnModal" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></a> 
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    <div class="card">
                                                        <div class="card-header card-header-icon" data-background-color="purple">
                                                            <i class="material-icons">assignment</i>
                                                        </div>
                                                        <div class="card-content">
                                                            <h4 class="card-title">Lista de productos</h4>
                                                            <div class="toolbar">
                                                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                                                            </div>
                                                            <div class="material-datatables">
                                                                <table id="datatables2" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Referencia</th>
                                                                            <th>Nombre</th>
                                                                            <th>Stock</th>
                                                                            <th>Precio Unitario</th>
                                                                            <th class="disabled-sorting text-right">Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    
                                                                    <tbody id="datosListaProductos">
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end content-->
                                                    </div>
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    
                                                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Finalizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio Unitario</th>
                                                <th>Ubicacion</th>
                                                <th>Total</th>
                                                
                                                
                                                <th class="disabled-sorting text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end content-->
                        </div>
                        <!--  end card  -->
                    </div>
                </div>
                
                
                <div class="row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <div class="form-group form-button">
                            <button type="submit" class="btn btn-fill btn-success">Vender</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
    
    
    $('#btnModal').click(function cargarModal() {
        
        $.ajax({
            url: '/App/listaProductosAj/',
            type: 'get',
            success: function(data) {
                var html = '';
                for (let i = 0; i < data.length; i++) {
                    html += 
                    `<tr>
                        <td>
                            ${data[i].fields.referencias}
                        </td>
                        <td> 
                            ${data[i].fields.descripcion}
                        </td>
                        <td> 
                            ${data[i].fields.stock_minimo}
                        </td>
                        <td> 
                            ${data[i].fields.precio_unit}
                        </td>
                        <td class="text-center">
                            <a href="#" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">add</i></a>
                      
                        </td>
                    </tr>`
                    
                }
                $('#datosListaProductos').html(html);
                
            }       
        });
    })
    
    
    
</script>




{% endblock js %}