{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">content_paste</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Lista de <strong>Productos</strong>.</h4>
                    <div class="toolbar">
                        <a button class="btn btn-info "  id="btnModal" data-toggle="modal" data-target="#myModal">¿Que necesito comprar?</a>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Stock <br> Minimo</th>
                                    <th>Costo Unidad</th>
                                    <th>Estante</th>
                                    <th>Familia</th>
                                    
                                    <th class="disabled-sorting text-right">Acciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in productos %}
                                
                                <tr class="{{ p.stock_alert}}">
                                    <td>{{ p.referencias}}</td>
                                    <td>{{ p.descripcion}}</td>
                                    <td>{{ p.cantidad_inventario}}</td>
                                    <td>{{ p.stock_minimo}}</td>
                                    <td>{{ p.precio_unit}}</td>
                                    <td>{{ p.familia}}</td>
                                    <td>{{ p.estante}}</td>
                                    
                                    <td class="text-right">
                                        
                                        <a href="{% url 'modificar_producto' p.id %}" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">person</i></a>
                                        <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                
                                
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-icon" data-background-color="red">
                                            <i class="material-icons">add_shopping_cart</i>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title"><b>Productos a comprar</b> </h4>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive table-sales">
                                                        <table class="table">
                                                            <tbody>
                                                                {% for p in productos %}
                                                                {% if  p.stock_buy%}
                                                                
                                                                <tr>
                                                                    
                                                                    <td>{{p.descripcion}}</td>
                                                                    <td class="text-right text-danger">
                                                                        En inventario: {{p.cantidad_inventario}}
                                                                    </td>
                                                                    <td class="text-right text-info">
                                                                        Cantidad a comprar: {{p.cantidad_comprar}}
                                                                    </td>
                                                                </tr>

                                                                {% endif %}
                                                                
                                                                
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
{% endblock %}

{% block js %}

{% for p in productos %}

{% if  p.stock_buy %}

<script>
    $(document).ready(
    function () {
        demo.showSwal('title-and-text')
    }
    );
    
    
</script>


{% endif %}



{% endfor %}


{% endblock js %}