{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ferreteria</title>
    <base href="/">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Ferreteria </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static '/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static '/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static '/css/google-roboto-300-700.css' %}" rel="stylesheet" />
    
</head>

<body>
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4 class="navbar-brand" >Ferreteria</h4>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}">
                            <i class="material-icons">fingerprint</i> Autenticarse
                        </a>
                    </li>
                    {% else %}
                    <li class="">
                        <a href="{% url 'base' %}">
                            <i class="material-icons">person_add</i> Esta autenticado como: {% firstof request.user.get_full_name request.user.username %} | ENTRAR
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="wrapper wrapper-full-page">
        
        <div class="full-page login-page" filter-color="black" data-color="blue" data-image="{% static '/img/login.jpg' %}">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                
                {% block content %}
                
                
                
            
                {%  endblock %}
                
            </div>
            
        </div>
        
    </div>
    
    
    <script src="{% static '/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/material.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="{% static '/js/jquery.validate.min.js' %}"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="{% static '/js/moment.min.js' %}"></script>
    <!--  Charts Plugin -->
    <script src="{% static '/js/chartist.min.js' %}"></script>
    <!--  Plugin for the Wizard -->
    <script src="{% static '/js/jquery.bootstrap-wizard.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static '/js/bootstrap-notify.js' %}"></script>
    <!--   Sharrre Library    -->
    <script src="{% static '/js/jquery.sharrre.js' %}"></script>
    <!-- DateTimePicker Plugin -->
    <script src="{% static '/js/bootstrap-datetimepicker.js' %}"></script>
    <!-- Vector Map plugin -->
    <script src="{% static '/js/jquery-jvectormap.js' %}"></script>
    <!-- Sliders Plugin -->
    <script src="{% static '/js/nouislider.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <!--<script src="{% static '/js/jquery.select-bootstrap.js' %}"></script>-->
    <!-- Select Plugin -->
    <script src="{% static '/js/jquery.select-bootstrap.js' %}"></script>
    <!--  DataTables.net Plugin    -->
    <script src="{% static '/js/jquery.datatables.js' %}"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="{% static '/js/sweetalert2.js' %}"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static '/js/jasny-bootstrap.min.js' %}"></script>
    <!--  Full Calendar Plugin    -->
    <script src="{% static '/js/fullcalendar.min.js' %}"></script>
    <!-- TagsInput Plugin -->
    <script src="{% static '/js/jquery.tagsinput.js' %}"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="{% static '/js/material-dashboard.js' %}"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static '/js/demo.js' %}"></script>
    <script type="text/javascript">
        $().ready(function() {
            demo.checkFullPageBackgroundImage();
            
            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
</body>


</html>