{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-12 ">
    <h3 class="title text-center">Gestionar informacion de formularios</h3>
    <br />
    <div class="nav-center">
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
            <!--
                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->
            <li class="active">
                <a href="#Cargo-1" role="tab" data-toggle="tab">
                    <i class="material-icons">card_travel</i> Cargo
                </a>
            </li>
            <li >
                <a href="#Estado-1" role="tab" data-toggle="tab">
                    <i class="material-icons">description</i> Estado
                </a>
            </li>
            <li>
                <a href="#Estante-1" role="tab" data-toggle="tab">
                    <i class="material-icons">horizontal_split</i> Estante
                </a>
            </li>
            <li>
                <a href="#Familia-2" role="tab" data-toggle="tab">
                    <i class="material-icons">view_module</i> Familia
                </a>
            </li>
            <li>
                <a href="#Seguridad-2" role="tab" data-toggle="tab">
                    <i class="material-icons">security</i> Seguridad <br> Social
                </a>
            </li>
            <li>
                <a href="#Tipo-Seguridad" role="tab" data-toggle="tab">
                    <i class="material-icons">info</i> Tipo <br> Seguridad <br> <small>Social</small>
                </a>
            </li>
            <li>
                <a href="#Identificacion-2" role="tab" data-toggle="tab">
                    <i class="material-icons">note_add</i> Tipo <br> Identificacion
                </a>
            </li>
            <li>
                <a href="#Persona-2" role="tab" data-toggle="tab">
                    <i class="material-icons">account_circle</i> Tipo <br> Persona
                </a>
            </li>
            
        </ul>
        
    </div>
    <div class="col-md-4 ">
        <div class="tab-content">
            <div class="tab-pane active" id="Cargo-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestionar Cargos</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar Cargos.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_cargo' %}" class="btn btn-success">Crear</a>
                            
                        </div>
                        <a href="{% url 'lista_cargos' %}" class="btn btn-primary">Lista de cargos</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="Estado-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestionar Estados</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar estados.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_Estado' %}" class="btn btn-success">Crear</a>
                            
                        </div>
                        <a href="{% url 'lista_Estados' %}" class="btn btn-primary">Lista de Estados</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Estante-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestionar Estantes</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar estantes.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_Estante' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_Estantes' %}" class="btn btn-primary">Lista de Estantes</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Familia-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestion de Familias</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar familias de productos.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_Familia' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_Familias' %}" class="btn btn-primary">Lista de Familias</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Seguridad-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestionar Seguridad Social</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar seguridades sociales.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_SeguridadSocial' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_SeguridadSocial' %}" class="btn btn-primary">Lista de Seguridades</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Identificacion-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestion Tipos de identificacion</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar tipos de identificacion.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_TipoIdentificacion' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_TipoIdentificacion' %}" class="btn btn-primary">Lista de Tipos de identificaciones</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Persona-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestion Tipo de Personas</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar tipos de personas.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_TipoPersona' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_TipoPersona' %}" class="btn btn-primary">Lista de Tipos de personas</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Tipo-Seguridad">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Gestion Tipos de seguridad</h4>
                        <p class="category">
                            Permite adicionar,modificar,eliminar tipos de seguridad social.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="btn-group">
                            <a href="{% url 'crear_TipoSeguridad' %}" class="btn btn-success">Crear</a>
                            
                            
                        </div>
                        <a href="{% url 'lista_TipoSeguridad' %}" class="btn btn-primary">Lista de Tipo de seguridades</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}