{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment_ind</i>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">assignment_ind</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" >{% csrf_token %}
                <div class="card-content">
                    <h4 class="card-title">Formulario para el registro de un <strong>Cliente</strong></h4>
                    <br><br>
                    <div class="col-xs-12">
                        
                        <h5 class="card-title"> Datos personales</h5>
                        <div class="form-group label-floating">
                            <label class="control-label">Perfil de Cliente</label>
                            {{form.user}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Tipo de identificacion</label>
                            {{form.tipo}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Tipo Persona</label>
                            {{ form.tipo_persona }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Identificacion</label>
                            {{ form.ide }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Nombres</label>
                            {{ form.nombres }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Apellidos</label>
                            {{ form.apellidos }}
                        </div>
                        
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="card-title"> Datos de contacto</h6>
                                <div class="form-group label-floating">
                                    <label class="control-label">Contacto</label>
                                    {{ form.contacto }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Otro Contacto</label>
                                    {{form.otro_telf}}
                                </div>
                                
                            </div>
                            
                            <div class="col-sm-6">
                                <h6 class="card-title"> Datos de contacto</h6>
                                <div class="form-group label-floating">
                                    <label class="control-label">Direccion</label>
                                    {{ form.direccion }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email</label>
                                    {{ form.email }}
                                </div>
                                
                                
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Observacion</label>
                                    {{ form.observacion }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'lista_clientes' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}