{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment_ind</i>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">assignment_ind</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" >{% csrf_token %}
                <div class="card-content">
                    <h4 class="card-title">Formulario para el registro de un <strong>Estante</strong></h4>
                    <br><br>
                    <div class="col-xs-12">
                        
                        <div class="form-group label-floating">
                            <label class="control-label">ID del estante</label>
                            {{form.ide}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Detalle del estante</label>
                            {{form.nombre}}
                        </div>
                        
                        
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'gestionSoftware' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock  %}